<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div th:insert="~{nav :: copy}"></div>
<div class="admin-content">
    <p>このコメントを削除しますか？</p>
    <form th:method="delete" action="/admin/article/delete" th:object="${commentDeleteForm}">
        <input type="hidden" name="id" th:value="${commentDeleteFormResponse.commentDeleteForm.id}"/>
        <table>
            <tr>
                <th>id</th>
                <th>url</th>
                <th>title</th>
                <th>src</th>
            </tr>
            <tr>
                <td th:text="${commentDeleteFormResponse.commentDeleteForm.id}"></td>
                <td th:text="${commentDeleteFormResponse.commentDeleteForm.content != null}? ${commentDeleteFormResponse.commentDeleteForm.content} : '本文がありません'"></td>
                <td th:text="${commentDeleteFormResponse.commentDeleteForm.userId != null}? ${commentDeleteFormResponse.commentDeleteForm.userId} : 'ユーザーIDがありません'"></td>
                <td th:text="${commentDeleteFormResponse.commentDeleteForm.articleId != null}? ${commentDeleteFormResponse.commentDeleteForm.articleId} : '記事IDがありません'"></td>
            </tr>
        </table>
        <input type="submit" value="削除する"/>
    </form>
</div>
</body>
</html>