<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div th:insert="~{nav :: copy}"></div>
<div class="admin-content">
    <h1 class="admin-content-title">記事登録フォーム</h1>
    <table>
        <form method="post" action="/admin/comment/register" th:object="${commentRegisterForm}">
            <tr>
                <td><label for="content">コメント本文</label></td>
                <td><input type="text" name="content" id="content" th:value="*{content}" /></td>
                <td th:if="${contentError != null}" th:text="${contentError.defaultMessage}"></td>
            </tr>
            <tr>
                <td><label for="userId">ユーザーID</label></td>
                <td>
                    <select name="userId" id="userId">
                        <option th:each="userId : ${commentRegisterFormResponse.userIdList}" th:text="${userId}" th:value="${userId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="articleId">記事ID</label></td>
                <td>
                    <select name="articleId" id="articleId">
                        <option th:each="articleId : ${commentRegisterFormResponse.articleIdList}" th:text="${articleId}" th:value="${articleId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>