<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div th:insert="~{nav :: copy}"></div>
<div class="admin-content">
    <h1 class="admin-content-title">記事更新フォーム</h1>
    <table>
        <form method="post" action="/admin/comment/edit" th:object="${commentUpdateForm}">
            <input type="hidden" name="id" id="id" th:value="${commentUpdateFormResponse.commentUpdateForm.id}" />
            <tr>
                <td><label for="content">コメント本文</label></td>
                <td><input type="text" name="content" id="content" th:value="${commentUpdateFormResponse.commentUpdateForm.content}" /></td>
            </tr>
            <tr>
                <td><label for="userId">ユーザーID</label></td>
                <td>
                    <select name="userId" id="userId">
                        <option th:each="userId : ${commentUpdateFormResponse.userIdList}" th:text="${userId}" th:value="${userId}" th:selected="${userId} == ${commentUpdateFormResponse.commentUpdateForm.userId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="articleId">記事ID</label></td>
                <td>
                    <select name="articleId" id="articleId">
                        <option th:each="articleId : ${commentUpdateFormResponse.articleIdList}" th:text="${articleId}" th:value="${articleId}" th:selected="${articleId} == ${commentUpdateFormResponse.commentUpdateForm.articleId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>