<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <div th:insert="~{header :: copy}"></div>

    <div class="contents container">
        <div class="selected-article">
            <div class="row">
                <div class="selected-article-image col-sm-12">
                    <img th:src="${response.articleModel.imageUrl}" th:height="100" th:width="100"/>
                </div>
                <div class="selected-article-title col-sm-12" th:text="${response.articleModel.title}"></div>

                <div class="selected-article-next col-sm-12">
                    <a th:href="@{${response.articleModel.url}}">続きを読む</a>
                </div>
            </div>
        </div>
        <div class="comment-form">
            <div class="form">
                <form method="post" th:action="@{'/comment/create'}" th:object="${commentCreateForm}" class="row">
                    <input type="hidden" name="articleId" th:value="${response.articleModel.id}">
                    <div class="form-group col-sm-10">
                        <textarea placeholder="コメントする" class="form-control" name="content" th:value="*{content}"></textarea>
                    </div>
                    <input class="btn btn-primary col-sm-2" type="submit" value="投稿する" />
                </form>
                <div th:if="${contentError != null}" th:text="${contentError.defaultMessage}"></div>
            </div>
        </div>
        <div class="comments px-3 py-2">
            <div class="comment px-1 pt-2 pb-4" th:each="comment: ${response.articleModel.commentList}">
                <div class="row">
                    <img class="col-sm-2 rounded-circle" th:src="${comment.user.imageUrl}" th:height="50" th:width="50"/>
                    <div class="col-sm-2" th:text="${comment.user.name}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10" th:text="${comment.content}"></div>
                </div>
<!--                <div class="row">-->
<!--                    <a class="col-sm-3" href="comments/deleteForm.html" th:href="@{/comment/delete/{commentId}(commentId=${comment.id})}">コメントを削除する</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div th:insert="~{footer :: copy}"></div>
</body>
</html>