<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<header class="admin-header">
    <p>管理画面</p>
</header>
<nav class="admin-nav">
    <ul>
        <a class="admin-nav-li">
            記事一覧
        </a>
        <li class="admin-nav-li">
            記事登録
        </li>
        <li class="admin-nav-li">
            ユーザー一覧
        </li>
        <li class="admin-nav-li">
            ユーザー登録
        </li>
    </ul>
</nav>
<div class="admin-content">
</div>
</body>
</html>