<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<div class="contents container">
    <div class="login">
        <h1>ログイン</h1>
        <div class="form">
            <form method="post" th:action="@{'/login'}" th:object="${loginForm}">
                <div class="form-group login-form">
                    <label for="mail">メールアドレス</label>
                    <input class="form-control" type="mail" name="mail" id="mail" />
                </div>
                <div class="form-group login-form">
                    <label for="password">パスワード</label>
                    <input class="form-control" type="password" name="password" id="password" />
                </div>
                <input class="btn btn-dark login-btn" type="submit" value="ログイン" />
            </form>
        </div>
    </div>
    <a href="users/editForm.html" th:href="@{/user/registerForm}">アカウントがない場合はこちらからアカウントを登録</a>
</div>

<div th:insert="~{footer :: copy}"></div>
</body>
</html>