<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/users.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<div class="contents container">
    <div class="user-details">
        <div class="row">
            <div class="user-image col-sm-12">
                <img class="user-image-tag" th:src="${response.userModel.imageUrl}" th:height="100" th:width="100"/>
            </div>
            <div class="user-name col-sm-12" th:text="${response.userModel.name}"></div>
            <div class="user-introduction col-sm-12" th:text="${response.userModel.introduction}"></div>
            <div class="user-edit col-sm-12">
                <a href="users/editForm.html" th:href="@{/user/edit/{userId}(userId=${response.userModel.id})}">アカウント編集</a>
            </div>
        </div>
    </div>

    <div class="user-articles my-2">
        <div class="user-articles-title">
            <p>コメントした記事</p>
        </div>
        <div class="user-article row px-1 pt-2 pb-4" th:each="article: ${response.articleModelList}">
            <img class="user-article-image col-sm-3" th:src="${article.imageUrl}" th:height="100" th:width="100"/>
            <a class="user-article-title col-sm-9" href="users/editForm.html" th:href="@{/user/edit/{userId}(userId=${article.id})}">記事名</a>
        </div>
    </div>
</div>

<div th:insert="~{footer :: copy}"></div>
</body>
</html>