<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <div th:insert="~{admin/header :: copy}"></div>
    <div th:insert="~{admin/nav :: copy}"></div>
    <div class="admin-content">
    <table>
        <tr>
            <th> </th>
            <th> </th>
            <th>id</th>
            <th>url</th>
            <th>title</th>
            <th>src</th>
        </tr>
        <tr>
            <td>編集</td>
            <td>削除</td>
            <td>1</td>
            <td>https://woman.mynavi.jp/article/190130-4/	</td>
            <td>ナンパ師が伝授！イケメンじゃなくても出会いが作れるナンパ術	</td>
            <td>画像のurlが入るよ</td>
        </tr>
    </table>
    </div>
</body>
</html>