<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div th:insert="~{nav :: copy}"></div>
<div class="admin-content">
    <h1 class="admin-content-title">ユーザー編集フォーム</h1>
    <table>
        <form method="post" action="/admin/user/update" th:object="${userUpdateForm}">
            <input type="hidden" name="id" th:value="*{id}" />
            <tr>
                <td><label for="name">名前</label></td>
                <td><input type="text" name="name" id="name" th:value="*{name}" /></td>
            </tr>
            <tr>
                <td><label for="mail">メールアドレス</label></td>
                <td><input type="text" name="mail" id="mail" th:value="*{mail}" /></td>
            </tr>
            <tr>
                <td><label for="introduction">自己紹介</label></td>
                <td><input type="text" name="introduction" id="introduction" th:value="*{introduction}"/></td>
            </tr>
            <tr>
                <td><label for="imageUrl">画像URL</label></td>
                <td><input type="text" name="imageUrl" id="imageUrl" th:value="*{imageUrl}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>