<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <header class="navbar bg-dark navbar-dark" th:fragment="copy">
        <div class="row" th:if="${flash != null}">
            <div class="flash col-sm-12" th:text="${flash}"></div>
        </div>
        <a th:href="@{/?page=1}" class="text-light navbar-brand">NANPA PICKS</a>
        <div class="my-2 my-lg-0">
            <a class="px-1" th:if="${user != null}" th:href="@{/user/{userId}(userId=${user.id})}" th:text="${user.name}"></a>
            <a class="px-1" th:if="${user != null}" th:href="@{/logout}">ログアウト</a>
        </div>
    </header>
</body>
</html>