<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <div class="flash" th:if="${flash != null}" th:text="${flash}"></div>
    <div th:insert="~{header :: copy}"></div>
    <div th:insert="~{nav :: copy}"></div>
    <div class="admin-content">
    <table>
        <tr>
            <th> </th>
            <th> </th>
            <th>id</th>
            <th>url</th>
            <th>title</th>
            <th>src</th>
        </tr>
        <tr th:each="article : ${articles}">
            <td>
                <a href="articles/editForm.html" th:href="@{/admin/article/edit/{articleId}(articleId=${article.id})}">編集</a>
            </td>
            <td>
                <a href="articles/deleteForm.html" th:href="@{/admin/article/destroy/{articleId}(articleId=${article.id})}">削除</a>
            </td>
            <td th:text="${article.id}"></td>
            <td th:text="${article.url != null}? ${article.url} : 'URLがありません'"></td>
            <td th:text="${article.title != null}? ${article.title} : 'タイトルがありません'"></td>
            <td th:text="${article.imageUrl != null}? ${article.imageUrl} : '画像URLがありません'"></td>
        </tr>
    </table>
    </div>
</body>
</html>