<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <div class="admin-nav" th:fragment="copy">
        <ul>
            <li class="admin-nav-li">
                <a href="articles/top.html" th:href="@{/admin/article}">記事一覧</a>
            </li>
            <li class="admin-nav-li">
                <a href="articles/registerForm.html" th:href="@{/admin/article/registerForm}">記事登録</a>
            </li>
            <li class="admin-nav-li">
                <a href="articles/registerForm.html" th:href="@{/admin/user}">ユーザー一覧</a>
            </li>
            <li class="admin-nav-li">
                <a href="articles/registerForm.html" th:href="@{/admin/user/registerForm}">ユーザー登録</a>
            </li>
        </ul>
    </div>
</body>
</html>